[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/kforjan/config.nvim.git
[submodule "kinesis/Adv360-Pro-ZMK"]
	path = kinesis/Adv360-Pro-ZMK
	url = https://github.com/kforjan/Adv360-Pro-ZMK.git
	branch = V3.0
